
<h1> Create Games </h1>
<%= form_for @week do |f|%>
  <%= f.error_messages %>
  <table>
    <%= f.fields_for :games do |f2| %>
      <%= render "game_fields", :f2 => f2%>
    <% end %>
  </table>
  <p><%= submit_tag "Submit" %> | <%= link_to "Week Index", weeks_path  %> </p>
<% end %>