<h1> Week <%= @games[0].index %> Games </h1>
<%= form_for :users_picks, :url => game_path(params[:id]), :method => :put do |f| %>
  <table>
    <tr>
      <th class="game_header"> Away </th>
      <th></th>
      <th class="game_header home_team_label"> Home </th>
      <th class="game_header spread_column"> Spread </th>
    </tr>
    <% @games.each_with_index do |game, index| %>
      <tr>
	<% if game.away_team_id.present? && game.home_team_id.present? %>
	  <% if @users_picks != [] && @users_picks.present? %>
	    <% if @users_picks.send("game#{index + 1}") != nil %>
	      <% if game.away_team_id == @users_picks.send("game#{game.index}") %>
		<td><%= f.radio_button("game#{game.index}", game.away_team_id, :checked => true) %> <%= label_tag("users_picks'game#{game.id}'#{game.away_team_id}", get_team_name(game.away_team_id)) %></td> 
		<td class="vs-label">vs. </td>
		<td class="home_team_label"><%= f.radio_button("game#{game.index}", game.home_team_id) %> <%= label_tag("users_picks'game#{game.id}'#{game.home_team_id}", get_team_name(game.home_team_id)) %> <br/></td>
	      <% else %>
		<td><%= f.radio_button("game#{game.index}", game.away_team_id) %> <%= label_tag("users_picks'game#{game.id}'#{game.away_team_id}", get_team_name(game.away_team_id)) %></td> 
		<td class="vs-label">vs.</td> 
		<td class="home_team_label"><%= f.radio_button("game#{game.index}", game.home_team_id, :checked => true) %> <%= label_tag("users_picks'game#{game.id}'#{game.home_team_id}", get_team_name(game.home_team_id)) %> <br/></td>
	      <% end %>
	    <% else %>
	      <td><%= f.radio_button("game#{game.index}", game.away_team_id) %> <%= label_tag("users_picks'game#{game.id}'#{game.away_team_id}", get_team_name(game.away_team_id)) %> </td>
	      <td class="vs-label">vs. </td>
	      <td class="home_team_label"><%= f.radio_button("game#{game.index}", game.home_team_id) %> <%= label_tag("users_picks'game#{game.id}'#{game.home_team_id}", get_team_name(game.home_team_id)) %> <br/></td>
	    <% end %>
	  <% else %>
	    <td><%= f.radio_button("game#{game.index}", game.away_team_id) %> <%= label_tag("users_picks'game#{game.id}'#{game.away_team_id}", get_team_name(game.away_team_id)) %> </td>
	    <td class="vs-label">vs. </td>
	    <td class="home_team_label"><%= f.radio_button("game#{game.index}", game.home_team_id) %> <%= label_tag("users_picks'game#{game.id}'#{game.home_team_id}", get_team_name(game.home_team_id)) %> <br/></td>
	  <% end %>
	<% end %>
	<td class="spread_column"><%= game.spread %></td>
      </tr>
    <% end %>
  </table>
  <div class="actions navigation-links">
    <% if disable_submit? %>
      <%= f.submit %> |
    <% end %> 
    <% p disable_submit? %>
    <%= link_to "Games Index", games_path %> | <%= link_to "User Index", user_path(current_user) %>
  </div>
<% end %>
